button {
  background-color: #1487d7;
  border: none;
  padding: 10px;
  color: white;
  font-weight: bold;
  text-align: center;
  width: 100%;
  cursor: pointer;
  border-radius: 10px;
  outline: none;
}

.divStyle {
  width: 200px;
  margin-left: 50px;
}
