.container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.car {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.selecters {
  width: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
